@font-face {
  font-family: "LINESeedSansENBold";
  src: url("./fonts/LineSeedSansEN/LINESeedSans_W_Bd.woff") format('woff');
  font-weight: bold;
 }

 @font-face {
  font-family: "LINESeedSansENRegular";
  src: url("./fonts/LineSeedSansEN/LINESeedSans_W_Rg.woff") format('woff');
  font-weight: normal;
 }

 @font-face {
  font-family: "LINESeedSansENMd";
  src: url("./fonts/LineSeedSansEN/LINESeedSans_W_Th.woff") format('woff');
  font-weight: normal;
 }

 @font-face {
  font-family: "LINESeedSansTHRegular";
  src: url("./fonts/LineSeedSansTH/LINESeedSansTH_W_Rg.woff") format('woff');
  font-weight: normal;
 }

 @font-face {
  font-family: "LINESeedSansTHBold";
  src: url("./fonts/LineSeedSansTH/LINESeedSansTH_W_Bd.woff") format('woff');
  font-weight: bold;
 }

 .form-control:focus, .form-control-clicked {
  border-color: #1AB48D;
  box-shadow: 0 0 0 0.2rem rgba(213, 236, 230, 0.75);
} 



.btn:focus{
  outline: none;
}

.btn-selected{
  border-color: #1AB48D;
  box-shadow: 0 0 0 0.2rem rgba(213, 236, 230, 0.75);
}

.onclicked-button{
  border-left: none;
  border-color: #1AB48D;
  box-shadow: 0 0 0 0.2rem rgba(213, 236, 230, 0.75);
}

.tablerow:hover{
  background-color: #D5ECE6;
}

.tablerow{
  background-color: white;
  width: 100vw;
}

.sign-up-bg{
  background: radial-gradient(circle, rgba(0,169,128,1) 0%, rgba(112,207,184,1) 0%, rgba(150,220,203,1) 11%, rgba(243,251,249,1) 38%);
}
